<ion-header>
  <ion-toolbar>
    <ion-title>Home Profesores / Crear Clase</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nombre de la Clase</ion-label>
          <ion-input type="text" [(ngModel)]="lessonName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating"
            >Fecha de la Clase (DD/MM/YYYY)</ion-label
          >
          <ion-input type="text" [(ngModel)]="lessonDate"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="createLesson()"
          >Crear Clase</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
