<ion-header>
  <ion-toolbar>
    <ion-title>Home Profesores / Lista de Clases</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let lesson of lessonList">
      <ion-label>{{ lesson.name }}</ion-label>
      <ion-badge>{{ lesson.date }}</ion-badge>
      <ion-button
        slot="end"
        color="primary"
        (click)="goToLessonDetail(lesson.id)"
        >Ver detalle</ion-button
      >
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createLesson()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
